/*font-family: 'Dosis', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;


}

p {
	color: #f2f2f2;
}

/*landing page*/

#jumbo-land {
	height: 100vh;
	background-image: url(../images/greentea.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 17%;
	border-radius: 0; 
}

.jumbotron h1 {
	font-family: 'Lobster', cursive;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}
.jumbotron h2 {
	font-family: 'Dosis', sans-serif;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.jumbotron img {
	max-height: 150px;
	max-width: 200px;
	width: 30px;
	height: 30px;
	background-color: #91b500; /*matcha green color*/
	border-radius: 50%;
	margin: 10px;
}

.btn {
	margin-left: 85%;
	border-radius: 0%;
}

.btn a {
	font-family: 'Rubik', sans-serif;
	font-size: 21px;
	text-decoration: none;
	color: #fff;
	text-align: left;
}

.btn a:hover {
	color: #91b500;
	text-decoration: none;
}


/*end landing page*/


/*home page*/
.card {
	margin-bottom: 50px;
}

.card img {
	width: 350px;
	height: 210px;

}

.landing-container {
	background-image: url(../images/home-bg-final.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}


#home-landing {
	color: #fff; /*white*/
	padding-top: 20%;
	padding-left: 10%;
	font-family: 'Rubik', sans-serif;
	text-shadow: 2px 2px 4px #000000;
}

#home-landing2 {
	color: #fff; /*white*/
	padding-left: 10%;
	font-family: 'Rubik', sans-serif;
	text-shadow: 2px 2px 4px #000000;
}

.landing-container p {
	color: #fff; /*white*/
	padding-left: 10%;
	font-family: 'Rubik', sans-serif;
	text-shadow: 2px 2px 4px #000000;
}

#matcha-notes {
	color: #91b500;

}

.container-fluid {
	background-color: #AA7243;
}

.home-pics img {
	width: 100%;
	height: 200px;
}

#matcha-promise {
	padding-bottom: 100px;
}

#matcha-notes-1 {
	padding-bottom: 50px;
}

/*end home page*/

/*nav bar */


.navbar img {
	max-height: 150px;
	max-width: 200px;
	width: 50px;
	height: 50px;
	background-color: #91b500;
	border-radius: 50%;
}

.navbar-brand {
	margin-left: 10px;
	color: #fff;
	/*text-shadow: 2px 2px 4px #000000;*/
	font-family: 'Abril Fatface', cursive;
	/*font-weight: bolder;*/
	letter-spacing: 2px;
}

.navbar a:hover {
	color: #91b500;
}

.navbar {
	background-color: none;
    

}

#nav-matcha .nav-item a {
	color: #91b500;
	text-shadow: 2px 2px 4px #000000;
	margin-bottom: 15px;
	margin-top: 5px;
}


#nav-matcha .nav-item a:hover {
	color: #f2f2f2;
}

.navbar-toggler span{
	color: #91b500;
}

#nav-matcha .nav-item .active {
	color: #f2f2f2;
}




/*end of nav bar*/

/*.container-fluid {
	background-color: #f9d29d;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);

}
*/

#carousel-home {
	height: 80vh;
}

#carousel-home img {
	height: 70vh;
	max-height: 70vh;
}



/*about page*/

/*#jumbotron-about {
	background-color: #141414; off black
	height: 90vh;
	border-radius: 0;
}*/

/*#landing-about {
	color: #f2f2f2;
	font-size: 5em; 1em=16px
	letter-spacing: 50px;
	font-family: 'Rubik', sans-serif;
}*/

/*#mission {
	height: 100%;
	background-color: #141414;
	color: #f2f2f2;
}

#vision {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}*/

/*.about-tags {
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
}*/

/*about page meet team*/

.meet-team img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.meet-team img:hover {
	filter: saturate(1.5);
}

.team-member p {
	margin-bottom: 0rem;
}

#join-team {
	width: 15rem;
	height: 15rem;
	padding: 0;
	margin-bottom: 1.5rem;
}

/*mission vision*/

/*#hover-img {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	z-index: -10;

}*/

#mission-vision {
	padding: 0;
	margin: 0;
}

#mission-vision-img {
	height: 30em;
	width: 100%;
	padding: 0;
}

#overlay-text {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -10;
	opacity: .80;
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: center;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

#overlay-text p {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	margin-top: 50px;
}

#mission-vision-img:hover ~ #overlay-text {
	z-index: 10;
	transition: 0.3s;
}

/*#mission-vision {
	margin: 0;
	position: relative;
}
*/

/*#mission-vision-img:hover ~ #hover-img {
	z-index: 10;
}*/



/*end about page*/


/*start gallery page*/

#head-gall {
	margin-top: 8%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background-color: #141414;
	color: #f2f2f2;
}

.active {
	border: 1px solid #f2f2f2;
}

#order-form-button {
	width: 100%;
	margin-bottom: 150px;
	margin-top: 10px;
}


/*end gallery page*/

#card-sabaw {
	width: 280px;
	height: 280px;
	margin: 5% 0%;
}

#card-sabaw img {
	max-height: 190px;
}

/*#over {
	position: relative;
}

#mission2 {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	z-index: -10;

}

#im:hover ~ #mission2 {
	z-index: 10;
}


#mission-vision {
	position: relative;
}*/

.gallery-pictures {
	margin: 0;
	padding: 0;
}

.gallery-pictures img{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: inline;
}

#powder {
	width: 100%;
	height: 49.5%;
	margin-bottom: 1.5rem;
	padding: 0;

}

#leaves {
	width: 100%;
	height: 45%;
	margin-bottom: 1.5rem;
	padding: 0;
}

#icecream {
	width: 17rem;
	height: 17rem;
	padding: 0;
	margin-bottom: 1.5rem;
	
}

#smoothie {
	width: 17rem;
	height: 17rem;
	padding: 0;
	margin-bottom: 1.5rem;
	
}



#cafe {
	width: 100%;
	height: 55%;
}



#contact-us {
	margin: 0;

}

#container-contacts {
 	padding-bottom: 610px;
}

#banner-greentea {
	width: 100%;
	height: 350px;
}


/*end contact us*/


@media only screen and (max-width: 400px) {

#overlay-text {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 11;
	opacity: .80;
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: center;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

@media only screen (min-width: 401px) and (max-width: 960px) {

#overlay-text {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 15; 
	opacity: .80;
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: center;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}


#gallery-text {
	margin-left: 18%;
}

}
